* {
	font-family: arial;
}

body {
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;
	width: 990px;	
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
}

nav ul, nav li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}

nav .active a,
nav a:hover {
	background-color: #39aae1;
	color: white;
}

#banner {
	display: flex;
	justify-content: center;
	background-image: url('../images/img1.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;

}

.column {
	flex-direction: column;
}

.banner_headline {
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner_headline h1 {
	color: white;
	font-size:70px;
	text-shadow: 0px 1px 0px #555;
	margin: 0px;
	padding: 0px;
	max-width: 350px;
}

.banner_headline h2 {
	color: white;
	font-size:21px;
	text-shadow: 0px 1px 0px #555;
	margin: 0px;
	padding: 0px;
	max-width: 350px;
	margin-top: 30px;
}

.banner_options {
	height: 210px;
	display: flex;

}

.banner1, 
.banner2, 
.banner3 {
	flex:1;
	color: white;
	padding:20px;
}

.banner1 {
	background-color: #39aae1;
}

.banner2 {
	background-color: #0079c7;
}

.banner3 {
	background-color: #2b4c99;
}

.banner_title {
	font-size: 21px;
}

.banner_desc {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.banner_options a {
	display: inline-block;
	border: 1px solid white;
	padding: 5px;
	color: white;
	text-decoration: none;
	font-size: 12px;
}

.date_hours {
	display: flex;
	justify-content: space-between;
	width: 280px;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #4468b2;
}
#geral {
	display: flex;
	justify-content: center;
}

#geral section {
	flex: 2;
}

#geral aside  {
	flex: 1;
}

.widget_title {
	margin-top: 30px;
	margin-bottom: 20px;

}

.widget_title_text {
	color: #000;
	font-size: 21px;
	font-weight: bold;
}

.widget_title_bar {
	width: 50px;
	height: 2px;
	background-color: #36a9e1;
	margin-top: 10px;
}

.widget_body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.widget_depart_box {	
	background-color: #39aae1;
	width: 155px;
	height: 155px;
	margin: 0 0 20px 0;
	justify-content: space-between;
}

.especialidades {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	justify-content: center;
	height: 155px;
}

.widget_desc {
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCC;
}

.widget_desc_text {
	padding-bottom: 10px;
}

.widget_desc_block {
	font-size: 14px;
}

/*.flex {
	display: flex;
	flex-wrap: wrap;
}*/

article {
	flex:1;
	min-width: 300px;
	margin-right: 20px;
}

article .news_data {
	display: flex;
}

article .news_posted_at {
	background-color: #2b4c99;
	color: white;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}

article .news_coment {
	background-color: #39aae1;
	color: white;
	font-size: 12px;
	padding: 10px;
}

article .news_tumbnail {
	padding-top: 30px;
}

article .news_tumbnail img {
	width: 100%;
	height: auto;
}

article .news_title {
	margin-top: 25px;
	margin-bottom: 25px;
	color: black;
	font-size: 23px;
}

article .news_resume {
	color: #5c5c5c;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}

article a {
	text-decoration: none;
}

footer {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;

}

.footer_menu {
	display: flex;
}

.fm1, .fm2, .fm3 {
	color: white;
	flex:1;
	padding: 20px;
}

.fm1 {
	background-color: #39aae1;
}

.fm2 {
	background-color: #0079c7;
}

.fm3 {
	background-color: #2b4c99;
}

.fm_title {
	font-size: 23px;
	font-weight: bold;
}

.fm_text {
	font-size: 14px;
	padding-top: 20px;
	text-align: left;
}

.footer_area {
	display: flex;
}

.footer_areaitem {
	flex:1;
	color: white;
	padding-right: 20px;
}

.flexcolumn{
	flex-direction: column;
}

footer .widget_title_text {
	color: #FFF;
}

.footer_copyright {
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #5c5c5c;
	font-size: 12px;
	margin-top: 30px;
}

.widget_body_text {
	color: #5c5c5c;
	font-size: 14px;
}

.widget_body {
	display: flex;
	line-height: 20px;
}

.footer_adress {
	display: flex;
	padding-bottom: 20px;
}

.adress1 {
	font-size: 14px;
	color: #5c5c5c;
	padding-top: 20px;
	width: 40%;

}

.adress2 {
	font-size: 14px;
	color: #5c5c5c;
	padding-top: 40px;
	padding-left: 20px;
	width: 40%; 

}

.adress2 a {
	text-decoration: none;
	color: white;
}

.footer_icons {
	display: flex;
}

.icon {
	padding-right: 10px;
}

.icon img {
	width: 30px;
}

.post {
	display: flex;
	padding-bottom: 20px;
}

.arrow {
	flex:1;
}

.widget_body_text1 {
	font-size: 14px;
	color: white;
	padding-left: 5px;
	
}

.years_post {
	font-size: 13px;
	color: #0079c7;
	flex:1;
}

.widget_body_text2 {
	font-size: 14px;
	color: white;
	padding-top: 20px;
}

.post2 {
	display: flex;
	padding-bottom: 20px;
}

.post2 .widget_body_text1 {
	color: #5c5c5c;
}

.post2 a {
	text-decoration: none;
	color: white;
}

.menumobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}
.mmline {
	height: 2px;
	background-color: #39aae1;
}

@media (max-width: 600px) {

	.menumobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	header {
		height: auto;
	}

	header .container {
		flex-direction: row;
	}

	nav ul {
		flex-direction: column;
		display: none;
	}

	.container .logo, .menu {
		padding-left: 10px;
		padding-top: 10px;
	}

	.banner_headline {
		padding-bottom: 20px;
	}

	.banner_headline h1 {
		font-size: 55px;
		padding-left: 20px;
	}
	.banner_headline h2 {
		font-size: 17px;
		padding-left: 20px;
	}
	.banner_options {
		height: auto;
		flex-direction: column;
	}

	.widget {
		padding-top: 60px;
		padding-left: 20px;
	}

	aside .widget {
		padding: 0px;
	}
	footer .widget {
		padding-top: 0px;
	}

	.container {
		flex-direction: column;
	}

	#geral section {
		flex:2;
	}

	#geral aside {
		padding: 25px;
	}

	footer .footer_menu, .footer_area{
		flex-direction: column;
	}
}
